<section id="dondeEstamos">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.230269911107!2d-1.5902732855666502!3d37.40803184094908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd64c925ee97a14d%3A0xbd17b6046ebe61a5!2sTumaca!5e0!3m2!1ses!2ses!4v1528076400346" frameborder="0" width="450" height="400" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-12 col-md-6">
          <div>
            <small>E: enquiry@artiotravel.com</small>
            <p>Give us a call or drop  by anytime, we endeavour to answer all
              <br>enquiries within 24 hourson business days.</p>
            <small>We are open from 8:30 AM - 4:00 PM week days.</small>
            <hr id="hr2">
          </div>
          <form id="form" class="form-horizontal " role="form">
            <div class="row">
              <div class="form-group col-md-6">
                <input id="miid" class="entrada1 form-control" type="text" name="" value="" placeholder="Name*">
              </div>
              <div class="form-group col-md-6">
                <input class="entrada1 form-control" type="text" name="" value="" placeholder="Email*" >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <input class="entrada1 form-control" type="text" name="" value="" placeholder="Phone">
                <!-- <textarea name="name" rows="8" cols="80"></textarea> -->
              </div>
              <div class="form-group col-md-6">
                <input class="entrada1 form-control" type="text" name="" value="" placeholder="Country">
                <!-- <textarea name="name" rows="8" cols="80"></textarea> -->
              </div>
            </div>
            <textarea class="form-control" name="name" rows="8" placeholder="Message"></textarea>
            <br>
            <small>*PLEASE COMPLETE ALL FIELDS CORRECTLY</small>
          </form>
          <br>
          <button id="boton3" type="button" class="btn btn-warning rounded-0 bg-warning">
            <i>Enviar Mensaje</i>
          </button>

        </div>
      </div>
    </div>
  </section>