  <footer>
    <div class="container text-white">
      <div class="gridFooter">

        <div></div>
        <div class="itemFooter1">
          <h4>¿NECESITAS AYUDA?</h4>
          <p>0264 123 4567
            <br>enquiry@geekshubstravels.com</p>
          <small>Lun-Vie. 9:30-19:00 Sab: 10:00-14:00</small>
        </div>
        <div class="itemFooter2">
          <h4>INFORMACIÓN</h4>
          <ul>
            <li>
              <a href="#">Quienes somos</a>
            </li>
            <li>
              <a href="#">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#">Política de privacidad</a>
            </li>
            <li>
              <a href="#">Condiciones generales</a>
            </li>
            <li>
              <a href="#">Aviso legal</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
            <li>
              <a href="#">Programa de puntos</a>
            </li>
          </ul>
        </div>
        <div class="itemFooter3">
          <h4>SUSCRIBETE A LA NEWSLETTER</h4>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" placeholder="Correo electrónico" aria-describedby="inputGroup-sizing-sm">
          </div>

        </div>


      </div>
      <ul class="navbar-nav rrssbottom mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
      <hr class="bg-dark">
      <div class="rows">
        <div class="col-md-12 text-center">
          <small>Geekhubs Travels 2018 Todos los derechos reservados</small>
        </div>
      </div>
    </div>
  </footer>