<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navBarWebz">
    <a class="navbar-brand" href="#">
    <img src="images/iconoweb.png" class="d-inline-block align-top" width="70" />
    <p><strong>Geekhubs Travels</strong></p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#destinos">Destinos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#quienesSomos">Quién somos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#dondeEstamos">Donde estamos</a>
        </li>
    </ul>
    </div>
    <ul class="navbar-nav rrss mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-whatsapp"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
        <i class="fab fa-youtube"></i>
        </a>
    </li>
    </ul>
</nav>