  <section id="quienesSomos">
    <div class="container" id="containerQuienesSomos">
      <div class="rows">
        <div class="col-12 col-md-4 offset-1" id="colocar">
          <h3 id="encabezado" class="text-left">QUIEN SOMOS</h3>
          <hr id="hr1">
          <p>Geekhubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas que deciden
            hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios hemos diseñado mas de 500 viajes
            organizados a diferenes destinos de Europa, Norteamerica y Asia. Nuestro objetivo ahora es ir ampliando horizontes
            poco a poco.</p>
            <div class="flexQuienes">
              <button id="boton2" type="button">DESCUBRIR</button>
            </div>
        </div>

      </div>
    </div>
  </section>