<header id="navbarRegistro">
    {{> navbar}}
</header>
<section id="pageNotFound">
    <h1><strong>Oops!</strong></h1>
    <h3>Error 404 - Not Found</h3>
    <h4>Sorry, and error has ocurred. The resource you requested has been not found!</h4>
    <a href="/" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
</section>
{{> footer}}