<header id="cabecera">
    {{> navbar}}
    <div class="container" id="bannerHeader">
      <div class="d-flex justify-content-center">
        <div class="text-white">
          <h1>
            <strong>Viaja!</strong>
          </h1>
          <h3>Descubre lugares maravillosos</h3>
          <div class="d-flex justify-content-center pt-10">
            <button type="button" class="btn btn-warning rounded-0">
              <i>ver destinos</i>
            </button>
          </div>
        </div>
      </div>
    </div>
</header>
{{> destinos}}
{{> quienessomos}}
{{> dondeestamos}}
{{> footer}}